@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Mali&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=BhuTuka+Expanded+One&family=Mali&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkalami', serif;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}
main {
    max-height: auto;
}
.container {
    background-color: #000;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    max-height: auto;
    max-width: 100%;
    overflow: hidden;
}
/* ================= Hamberger Menu ==================== */
.hamberger__menu {
    cursor: pointer;
    display: inline-block;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:#ffffff;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/* ================= Hamberger Menu End==================== */
.container-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}

.container-nav .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: default;
}
.container-nav .logo h2 {
    color: #fff;
}

.nav-right ul {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2.125rem;
}
.nav-right li {
    list-style: none;
    font-size: .8rem;
    width: 100%;
    display: block;
}

.nav-right li a {
    text-decoration: none;
    color: #fff;
    transition: all .4s ease;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: .9rem;
    font-weight: 500;
    width: 100%;
}
.nav-right li a:hover {
    padding: 5px 10px;
    background: #773491;
    border-radius: 25px;
}
.container__main {
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
}

.profile__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.profile__content {
    text-align: left;
    color: #ffffff;
    margin-left: 6rem;
    padding: 2rem;
    padding-top: 8rem;
}
.profile__content > h1 {
    font-family: 'Alkalami', serif;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Mali', cursive;
    margin-bottom: .4rem;
    font-weight: inherit;
    font-size: 1.6rem;
}
.profile__content > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 1;
}
.profile__content .btn > a{
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 40px;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}
.profile__content .btn {
    display: flex;
    padding: 2rem 2rem;
    margin-top: 1.125rem;
    font-weight: 500;
}
.profile__content .btn .our {
    background: #f42267;
    border-style: none;
    text-align: center;
    margin-right: 1rem;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    transition: all .4s ease;
}
.profile__content .btn .read {
    background: #773491;
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    transition: all .4s ease;
}
.profile__img {
    width: 100%;
    padding-right:1rem;
    object-fit: cover;
}
.profile__img img {
    padding-top: 5%;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.profile__content .btn .our:hover {
    background: #f06493;
}
.profile__content .btn .read:hover {
    background: #87529c;
}
/* --------------------------------------- END OF PROFILE -------------------------------------- */

.container__watch {
    max-height: auto;
    background-image: url(/images/background-out.jpg);
    background-color: bisque;
}
.container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
}
.content__left {
    text-align: left;
    margin-top: 11.56rem;
    margin-bottom: auto;
    padding: 2rem;
    margin-left: 6rem;
    padding-bottom: 3rem;
}
.content__main h1 {
    font-family: 'Alkalami', serif;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Mali', cursive;
    margin-bottom: .4rem;
    font-weight: inherit;
    font-size: 1.6rem;
    color: #484848;
}
.content__main h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 1;
    color: #484848;
}
.btn__select {
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    gap: 1rem;
    text-align: center;
}
.btn__select > a {
    text-decoration: none;
    color: #484848;
    border-radius: 25px;
    padding: 10px 30px;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.btn__select > a:hover {
    background: #f42267;
    color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    padding: 10px 30px;
    border-radius: 25px;
}
.content__footer > p{
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 500;
    display: inline-block;
    width: auto;
}
.btn__footer {
    margin-top: 2rem;
    width: auto;
    font-weight: 500;
}
.btn__footer > a {
    border-radius: 18px;
    padding: 17px 26px;
    font-size: 16px;
    background: #f42267;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    margin-left: 1rem;
    transition: all .3s ease;
}
.btn__footer > a:hover {
    background: #f06493;
}
.content__right {
    padding: 3rem 3rem;
    object-fit: cover;
}
.content__right img {
    width: 85%;
    object-fit: cover;    
}

.container__icon {
    max-height: auto;
    background: #4b2d7f;
}

.icon__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0 14rem;
}
.icon__item {
    color: #fff;
    cursor: default;
    transition: all .4s ease;
    padding: 0 .7rem;
}
.icon__item:hover {
    background: #40286a;
}
.icon__item img {
    margin-bottom: 1rem;
    margin-top: 4.78rem;
}
.icon__item h1 {
    margin-bottom: .2rem;
    font-weight: 600;
}
.icon__item h3 {
    font-weight: 700;
}
.icon__item h4 {
    font-weight: 500;
}
.icon__item p {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: lighter;
    color: #9583b4;
    margin-bottom: 6rem;
}
.grow__main {
    max-height: auto;
    background-image: url(/images/background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content__item {
    color: #ffffff;
    text-align: center;
    padding-top: 5rem;
    margin: 0 auto;
    padding: 5rem 2rem;
}
.content__item h1 {
    font-family: 'Alkalami', serif;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Mali', cursive;
    margin-bottom: .4rem;
    font-weight: inherit;
    font-size: 35px;
}
.content__item h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 3;
    color: #ffffff;
}
.middle__main {
    max-height: auto;
    background: #ffffff;
}
.middle__main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 0;
}
.middle__left {
    padding: 1rem;
    margin-left: 6rem;
}
.middle__left > h1 {
    font-family: 'Alkalami', serif;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Mali', cursive;
    font-weight: inherit;
    font-size: 35px;
    color: #484848;
}
.middle__left > h2 {
    margin-bottom: 1rem;
}
.middle__left-flex {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: start;
}
.middle__left-flex  h4 {
    margin-bottom: .5rem;
}
.middle__left-flex  p {
    font-size: 16px;
}
.middle__flex-item a {
    margin-top: 1rem;
    display: inline-block;
    width: auto;
    font-weight: 500;
    border-radius: 18px;
    padding: 15px 20px;
    font-size: 16px;
    background: #f42267;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    transition: all .3s ease;
}
.middle__flex-item a:hover {
    background: #f06493;
}
.middle__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle__right-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle__right-item video{
    border-radius: 20px;
    width: 70%;
    object-fit: contain;
}
.product__main {
    max-height: auto;
    background: #f1f1f1;
}
.product__header {
    text-align: center;
    padding: 1rem 20rem;
}
.product__header h1 {
    font-weight: 600;
}
.product__header > p {
    font-size: 16px;
    margin-bottom: 1rem;
}
.product__header .btn__select {
    justify-content: center;
}
.product__flex {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.product__item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
} 
.product__item-grid img {
    width: 100%;
}
.btn__product {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}
.container__main .btn__product a{
    border-radius: 18px;
    padding: 17px 26px;
    font-size: 16px;
    background: #f42267;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    margin-left: 1rem;
    transition: all .3s ease;
}
.container__main .btn__product a:hover {
    background: #f06493;
}
.brand__main {
    background: #4b2d7f;
    max-height: auto;
}
.brand__container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.brand__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    column-gap: 7rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}
.brand__grid-item img {
    padding: 1rem;
    /* border: 2px solid #fff; */
    max-width: 100%;
}
.brand__grid-item {
    display: flex;
   align-items: center;
   justify-content: center;
}
.testimonials__main {
    max-height: auto;
    background-image: url(/images/background3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.test__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
}
.test__left {
    text-align: left;
    padding-left: 14rem;
    padding-top: 2rem;
    color: #ffffff;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.test__left-header h1 {
    font-family: 'Alkalami', serif;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Mali', cursive;
    margin-bottom: .4rem;
    font-weight: 100;
    font-size: 35px;
}
.test__left-header {
    position: relative;
    left: -3rem;
}
.test__left-header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.test__left-content {
    margin-bottom: 3rem;
    position: relative;
    display: inline;
    left: -3rem;
    top: 1.6rem;
}
.test__left-content img{
   max-width: 100%;
}
.test__left p {
    margin-bottom: 4rem;
    font-size: 17px;
    padding-left: 3px;
}
.test__left h4 {
    margin-top: .5rem;
    font-weight: inherit;
}
.test__score {
    position: relative;
    left: -3rem;
}
.test__right {
    display: flex;
    justify-content: center;
}
.test__right img{
    display: block;
    max-width: 100%;
}
.input__main {
    max-height: auto;
    background-image: url(/images/background4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.input__header {
    text-align: center;
    padding: 4rem 1rem;
    color: #ffffff;
}
.input__header h1 {
    font-size: 3rem;
    font-weight: 500;
}
.input__header h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.input__header p {
    font-size: 18px;
}
.input__btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}
.input__item {
    position: relative;
    width: 250px;
}
.input__item input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255, .25);
    background: #f42267;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: .5s;
}
.input__item span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #fff;
    color: 1px solid rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: .5s;
}
.input__item input:valid ~ span,
.input__item input:focus ~ span 
{
    color: #ffffff;
    transform: translateX(10px) translateY(-7px);
    font-size: .7em;
    padding: 0 10px;
    background: #f42267;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    letter-spacing: .2em;
}
.input__item:nth-child(2) input:valid ~ span,
.input__item:nth-child(2) input:focus ~ span 
{
    background: #f42267;
    color: #ffffff;
}
.input__item input:valid,
.input__item input:focus
{
    border: 1px solid #ffffff;
    
}
.input__btn a {
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 500;
    background: #ff1e65;
    width: 160px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.input__btn a:hover, .input__btn a:focus, .input__btn a:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.contact__main {
    max-height: auto;
    background: #4b2d7f;
}
.contact__content {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.contact__content a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    max-width: 100%;
}
.contact__content a::before {
    content:"";
    position: absolute;
    height: 16px;
    left: -2rem;
    top: 8px;
    border: 1px solid #7647c7;
    transition: all .4s ease;
}
.contact__content a:hover {
    color: #7647c7;
}
.contact__content a:hover::before {
    border: 1px solid #fff
}
.footer__main {
    max-height: auto;
    background-color: #ffffff;
}
.footer__content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 0;
    gap: 9rem;
}
.footer__left {
    padding: 1rem;
    padding-left: 6rem;
}
.footer__left-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    row-gap: 4rem;
}
.footer__item-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: .5rem;
    
}
.footer__item-grid h2 {
    font-weight: 600;
    color: #4b2d7f;
    margin-bottom: 1rem;
}
.footer__item-grid a {
    text-decoration: none;
    margin-left: 1rem;
    color: #000;
    font-weight: 500;
    transition: all .4s ease;
}
.footer__item-grid a:hover {
    text-decoration: underline;
}
.footer__right {
    padding: 1rem;
}
.footer__right-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1rem;
}
.footer__right-item {
    width: 100%;
}
.footer__right-item img {
    width: 100%;
    display: block;
}
.footer__last {
    max-width: auto;
    background-color: #f6f6f6;
}
.last__main-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    cursor: default;
}
.last__main-flex h2 {
    font-weight: 600;
    font-size: 16px;
}


/* ========================== Responsive ============================= */
@media only screen and (max-width: 768px) {
    .content__right {
        padding: 0 0;
    }
    .icon__grid {
        grid-template-columns: 1fr;
    }
    .icon__item p {
        margin-bottom: 2rem;
    }
    .icon__item img {
        margin-top: 2rem;
    }
    #icon__margin {
        margin: 0;
    }
    #product__item--grid {
        grid-template-columns: 1fr;
    }
    #brand__grid-mobile {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .input__btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input__header {
        padding: 2rem 1rem;
    }
    .contact__content {
        flex-direction: column;
    }
    .contact__content a::before {
        display: none;
    }
    .footer__left-grid {
        grid-template-columns: 1fr;
    }
    .footer__right-grid {
        grid-template-columns: 1fr;
    }
    .last__main-flex {
        flex-direction: column;
    }
}
@media only screen and (max-width: 1100px){
    .container-nav {
        padding: 20px 20px;
    }
    .hamberger__menu {
        display: block;
    }
    .nav-right {
        height: 0;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        width: 100%;
        background-image: url(/images/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        transition: .5s;
        overflow: hidden;
        border-top: none;
    }
    .nav-right ul {
        flex-direction: column;
        text-align: center;
        transition: .9s;
        row-gap: 1.5rem;
        opacity: 0;
    }
    .nav-right ul li a {
        color: #fff;
    }
    .container-nav {
        flex-direction: row-reverse;
        align-items: center;
    }
    .open__nav {
        height: 325px;
    }
    .open__nav ul {
        opacity: 1;
    }
    .nav-right li a:hover {
        padding: 5px 10px;
        background: #ffffff;
        border-radius: 25px;
        color: #f42267;
    }
    .product__item-grid {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .brand__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1200px) {
    .profile__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile__img {
        width: 55%;
    }
    .profile__img img{
        display: block;
    }
    .profile__content {
        text-align: center;
        margin-left: 0;
        padding-top: 6rem;
    }
    
    .profile__content .btn {
        justify-content: center;
    }
    /* ================ Watch =============== */
    .container__grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .content__left {
        text-align: center;
        margin-left: 0;
        margin-top: 2rem;
    }
    .btn__select {
        justify-content: center;
        text-align: center;
    }
    .content__right {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .content__right img{
        width: 46%;   
    }
    .btn__select > a {
        padding: 10px 15px;
    }
    .btn__select > a:hover {
        padding: 10px 15px;
    }
    .middle__main-grid {
        grid-template-columns: 1fr;
    }
    .middle__right-item {
        width: 68%;
        height: 70%;
    }
    .middle__left {
        text-align: center;
        margin-left: 0;
    }
    .test__grid {
        grid-template-columns: 1fr;
    }
    .test__left {
        padding-left: 7rem;
    }
    .test__left-header {
        text-align: center;
    }
    .test__score {
        text-align: center;
    }
    .test__right img {
        width: 30%;
    }
    .footer__left {
        padding: 0 2rem;
    }
    .footer__item-grid {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .footer__left-grid {
        row-gap: 2rem;
    }
    .footer__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__right-grid {
       width: 55%;
    }
    .footer__content-grid {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
}
@media only screen and (max-width: 1320px) {
    .container-nav {
        padding: 20px 40px;
    }
    .content__right {
        padding: 3rem 3rem;        
    }
    .icon__grid {
        margin: 0 4rem;
    }
    .middle__right-item video {
        width: 90%;
    }
    .product__header {
        padding: 1rem 7rem;
    }
}